.download-button-wrap {
    display: flex;
    align-items: center;
    margin: 4px;
}

.download-button-right {
    display: flex;
    align-items: center;
    margin-left: 8px;
    padding-left: 8px;
    border-left: dashed green 1px;
    height: 100%;
}

.download-button-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

.download-button-left b {
    white-space: nowrap;
}