.detailed-summary-card-wrap {
    display: flex;
    justify-content: space-between;
    margin: 4px 0 ;
    cursor: pointer;
    padding: 2px 8px;
    background-color: rgba(255,255,255,0.6);
    border-radius: 3px;
}

.detailed-summary-card-wrap:hover {
    background-color: rgba(255,255,255,0.48);
}

.left-side {
    white-space: nowrap;
    margin-right: 16px;
}

.right-side {
    white-space: nowrap;
}