.input-form-header {
    display: flex;
    white-space: nowrap;
    min-width: 400px;
}

.input-form-header-append {
    display: flex;
    margin-left: auto;
}

#form-tag-card {
    height: min-content;
    margin-left: 8px;
    padding: 0 2px;
    font-size: small;
    border-radius: 5px;
}

#form-tag-card:hover {
    cursor: default;
}

#form-tag-card.new-style{
    background-color: lightgrey;
    color: dimgrey;
}

#form-tag-card.update-style{
    background-color: #a3bc3a;
    color: white;
}
