.input-envelope-form {
    display: flex;
    flex-direction: column;
    max-height: 65vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 8px;
}

.input-envelope-wrap {
    min-width: min-content;
    padding-right: 8px;
}