.offer-field-wrap {
    padding-top: 4px;
    margin-top: 4px;
    border-top: black dashed 1px;
}

.offer-field-header {
    display: flex;
    align-items: center;
}

.offer-item-close-btn {
    margin-bottom: auto;
}

.offer-add-option:focus {
    border: solid lightgray 1px;

}

.offer-destination-wrap {
    display: flex;
    margin-top: 2px;
}

.offer-destination-wrap input {
    width: 215px;
}