.prepended-input-wrap {
    display: flex;
}

.prepend {
    display: flex;
    align-items: center;
    justify-content: center;
    border: #ccc solid 1px;
    border-radius: 2px;
    background-color: #ddd;
    padding: 2px 4px;
    color: inherit;
}

.input {
    margin-left: -4px;
    padding-left: 4px;
    width: 192px;
    color:inherit;
}