.review-page-wrap {
    display: flex;
    min-width: 400px;
    min-height: 280px;

}

.review-detailed-listing-table {
    display: flex;
    flex-direction: column;
    max-height: 60vh;
    overflow: auto;
    max-width: 60vw;
}

.review-summary-division {
    margin: 16px;
    padding: 16px;
    border-left: dimgray solid 1px;
}

.review-currency-div {
    display: flex;
    justify-content: space-between;
}

.review-currency-div div:first-child {
    margin-right: 4px;
}

.review-summary-table td {
    padding: 2px 4px;
}

.review-summary-table td:first-child {
    padding: 8px;
}

.review-summary-table td:last-child {
    text-align: center;
}

.review-summary-table thead td {
    color: dimgray;
}

.review-summary-table tfoot td {
    font-weight: bold;
}

.review-summary-table span {
    display: flex;
    text-align: start;
}

.group-end {
    border-bottom: black solid 1px;
}

.group-start {
    border-top: black solid 1px;
}