.sign-page-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 0 16px 16px;
}

.sign-page-wrap form {
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.single-signatory-wrap {
    display: flex;
    margin-bottom: 16px;
}