.simple-summary-card-wrap {
    cursor: pointer;
    white-space: nowrap;
    background-color: rgba(255,255,255,.4);
}

.simple-summary-card-wrap:hover{
    background-color: #d5d5dc;
}

.simple-summary-card-wrap td:first-child {
    max-width: 175px;
    overflow: hidden;
}

.simple-summary-card-wrap td:last-child {
    padding-left: 4px;
}