.start-transaction-wrap {
    display: flex;
    flex-direction: column;
    max-width: min-content;
}

.title {
    white-space: nowrap;
}

.startTransaction-button {
    align-self: center;
    width: 200px;
}

.date-picker-group {
    display: flex;
    align-self: flex-start;
}