.state-progress-bar-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-around ;
    width: 200px;
    margin: 8px auto;
}

.state-progress-bar-wrap span {
    display: flex;
    flex-direction: row;
    margin: 4px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.state-progress-wrap {
    display: flex;
    width: min-content;
    margin: auto;
}