.transaction-root-wrap {
    display: flex;
    justify-content: center;
    width: min-content; /*fit-content doesn't work on firefox*/
    padding: 16px;
    background-color: rgba(0,0,0,0.1);
    border: black 1px solid;
    border-radius: 5px;
    margin: auto;
}