.transaction-status-wrap {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    border-left: solid black 1px;
    padding-left: 16px;
    width: 300px;
}

.summary-table-wrap {
    max-height: 390px;
    overflow: auto;
    min-width: 280px;
    max-width: 280px;
}

.summary-table-wrap table {
    width: 100%;
}

.transaction-status-wrap h3 {
    text-align: center;
}
